<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178742944673-hmlfj44cd8gc19b64e1k3jiu69htir14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178742944673-hmlfj44cd8gc19b64e1k3jiu69htir14</string>
	<key>API_KEY</key>
	<string>AIzaSyDZiaWipzdemvC1tycJyDKdUOD9sh9tMsA</string>
	<key>GCM_SENDER_ID</key>
	<string>178742944673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnative.MyTheKcpcApp</string>
	<key>PROJECT_ID</key>
	<string>mythekcpcapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mythekcpcapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178742944673:ios:443781efa0a159ba0d61e0</string>
</dict>
</plist>